.container {
    margin-top: 180px;
}

@media screen and (max-width: 1250px) {
    .container {
        margin-top: 160px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        margin-top: 140px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 100px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding-top: 140px;
    }
}
