.nav {
    display: flex;
    font-size: 20px;
    padding: 0 40px;
}

.link {
    margin: 0 25px;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
}

.link:hover {
    color: #bbbbbb;
}

.link:last-child {
    margin: 0 0 0 25px;
}