.nav {
    display: flex;
}

.link {
    margin: 0 25px;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
}

.link:hover {
    color: #bbbbbb;
}

.link:first-child {
    margin-left: 0;
}

.link:last-child {
    margin: 0 0 0 25px;
}