.container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrapper {
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin: 40px auto;
    }
}
