.title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #42446E;
    margin-bottom: 10px;
}

.description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 32px;
}
