.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 80px;
    margin-top: 130px;
}

.technology {
    display: flex;
    justify-content: center;
}