.container {
    margin-top: 100px;
    font-weight: 700;
    font-size: 58px;
    text-align: center;
    color: #1E0E62;
}

.email {
    cursor: pointer;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

@media screen and (max-width: 1250px) {
    .container {
        font-size: 50px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        font-size: 42px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        font-size: 30px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        font-size: 20px;
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
