.logo {
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    font-size: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", "DMSans", sans-serif;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    transition: .3s;
}

.logo:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1250px) {
    .logo {
        font-size: 24px;
    }
}

@media screen and (max-width: 992px) {
    .logo {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        font-size: 24px;
    }
}
